body {
    min-height: 100vh;
    position: relative;
    padding: 30px;
}

a {
    text-decoration: none;
    text-decoration-line: none;
}

a:hover {
    text-decoration: none;
}

button {
    outline: none;
}

header {
    text-align: center;
}

footer {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}